<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="api_nov25.coforge_jenkins_jan26.LoginTest"/>
      <class name="api_nov25.coforge_jenkins_jan26.MobileTest"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
